/* YourComponent.css */

.cardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px; /* Adjust as needed */
  }
  
  .card {
    width: 100px; /* Adjust width as needed */
    height: 150px; /* Adjust height as needed */
    background-color: #000000;
    border: 1px solid rgb(0, 0, 0);
  }
  
  .centeredCard {
    width: 100px; /* Adjust width as needed */
    height: 150px; /* Adjust height as needed */
    background-color: #000000;
    border: 1px solid rgb(0, 0, 0);
    margin-top: 10px; /* Adjust margin as needed */
  }
  
  .demo-section:hover {
    background: url(#background-gradient-hover);
  }
  
  .demo-section:hover svg {
    width: 50px;
    height: 50px;
  }
  
  .demo-section:hover image {
    width: 100px;
    height: 100px;
  }
  .team-image {
    transition: transform 0.3s ease-in-out;
  }

  .team-image:hover {
    transform: scale(1.1);
  }
  .background-circle {
    width: 40px;
    height: 40px;
    background: linear-gradient( 125deg, #879dff, #ffffff);

    border-radius: 50%;
    z-index: 0;
    margin-top: -2px; /* Adjust the distance from the top */
    margin-right: 10px; /* Adjust the distance from the right */
    display: inline-block; /* Ensures that the circle doesn't disrupt the flow of the text */
    padding-left: -8px;  
}

  .text-content {
    display: inline-block; /* Ensures that the text and circle are in the same line */
    margin-left: 10px; /* Adjust the distance to move the text to the right */
    margin-top: 4px;
}
.text2xl {
    font-size: 1.6rem/* 24px */;
    line-height: 2rem/* 32px */;
}
/* Default style */
.sliderStyle {
    margin-top: -6rem;
  }
  
  /* Media query to remove marginTop for devices with a width of 1024px or more */
  @media (min-width: 1024px) {
    .sliderStyle {
      margin-top: -3rem;
    }
  }
  /* Add this in your CSS file */
@media (min-width: 1536px) {
    /* Tablets and larger screens */
    .card-margin {
        
            padding-left: 5rem/* 80px */;
            padding-right: 5rem/* 80px */;
        }
        .margin1{
            margin-bottom: -200px;
        }
        .margin2{
            margin-bottom: -400px;
        }
  }
 
  




@media (min-width: 300px) and (max-width: 500px) {
    .mx10 {
        margin-left: 1rem; 
      }
  }
  @media (min-width: 501px) and (max-width: 767px) {
    .mx10 {
        margin-left: 6rem; 
      }
  }
  
  /* Media query for screens with width between 768px and 1023px (laptop and tab screens) */
  @media (min-width: 768px) and (max-width: 1023px) {
    .mx10 {
        margin-left: 10rem; 
      }
  }
  @media (min-width: 1024px) and (max-width: 1279px) {
    .mx10 {
        margin-left: 4rem; 
      }
  }

  @media (min-width: 1279px) and (max-width: 1535px) {
    .mx10 {
        margin-left: 10rem; 
      }
  }
  @media (min-width: 1536px) and (max-width: 2000px) {
    .mx10 {
        margin-left: 5rem; 
      }
  }
  @media (min-width: 1024px) {
    .text-left {
        margin-left: auto;
       padding-left: -0rem; 
       margin-right: 5rem;
      
    }
}
@media (min-width: 1024px) {
    .project-text {
        margin-top: -12rem;
        margin-left: 8rem;
    }
}

@media (min-width: 300px) and (max-width:766px) {
    .vision-top{
        margin-top: -4rem;
    }
}
@media (min-width: 1024px) and (max-width:2000px) {
    .vision-top{
        margin-top: -12rem;
    }
}
@media (min-width: 1535px) {
    .aboutsec {
      margin-left: 6rem; /* You can adjust the value based on your requirements */
      margin-right: 6rem; /* You can adjust the value based on your requirements */
    }
  }
  @media (min-width: 1024px) {
    .full-text {
        max-width: 30rem/* 448px */;
    }
    .text-left{
      margin-left: -2rem;
    }
}
.heading-text{
    
        font-size: 3.875rem/* 30px */;
        line-height: 2.25rem/* 36px */;
    
}
.heading-small{
    font-size: 2.875rem;
    line-height:2rem;
}
.rounded-radius {
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
  }

  @media (min-width: 360px) {
    .nowraps {
        white-space: nowrap;
            
      }
    
   
  
  }
    

@media (max-width: 360px) {
  .nowraps {
      white-space: nowrap;
          
    }
  
 
  .text2xl {
    font-size: 1.3rem;
    line-height: 2rem;
}
}
.card{
  width:23rem;
 
}
@media (min-width: 1100px) {



.text2xl {
  font-size: 2rem;
  line-height: 2rem;

}  .background-circle {
width: 50px;
height: 50px;
background: linear-gradient(125deg, rgba(46, 113, 195, 0.99), rgba(66, 255, 255, 0.244));

border-radius: 50%;
z-index: 0;
margin-top: -2px; /* Adjust the distance from the top */
margin-right: 10px; /* Adjust the distance from the right */
display: inline-block; /* Ensures that the circle doesn't disrupt the flow of the text */
padding-left: -8px;  
}
.text-content {
display: inline-block; /* Ensures that the text and circle are in the same line */
margin-left: 10px; /* Adjust the distance to move the text to the right */
margin-top: 9px;
}
}
@media (max-width: 320px) {
  .md\:whitespace-nowrap {
     font-size: small;
  }
}
.space1 {
    display: flex;
    justify-content: center;
  }
  
  .space {
    display: flex;
    justify-content: space-between;
    max-width: 800px; /* Adjust the max-width based on your design */
    width: 100%;
    padding: 0 20px; /* Equal padding on both sides */
  }
  